body {
	font-family: "Mitr", sans-serif;
	color: #404241;
}
.letterStyle {
	margin-top: 20px;
	display: inline-block;
	font-size: 32px;
	text-align: left;
	grid-column: 1 / 4;
	text-transform: capitalize;
}
#slider {
	display: grid;
	grid-template-columns: 40% 40% 20%;
	grid-template-rows: auto auto;
}
.counter {
	background: #404241;
	color: #fff;
	width: 40px;
	height: 32px;
	margin-left: 25px;
	vertical-align: middle;
	padding: 5px 0px;
	text-align: center;
	border-radius: 4px;
}
.clickers {
	width: 100%;
	padding: 5px;
	vertical-align: middle;
	border: 1px solid #404241;
	vertical-align: middle;
	text-align: center;
}
.clickers:hover {
	cursor: grab;
	background-color: #f16149;
}
